body {
    font-family: 'Roboto', sans-serif;
    background:rgb(230, 230, 230);
    overflow: hidden;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container {
    width: 100%;
    overflow: hidden;   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.paper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 0px 1.25em 1.25em  0px;
    /* border: 1px solid red; */
    background: white;
    width: 85%;
    height: 85vh;
    max-height: 1500px;
    max-width: 800px;
    top: 4%;
    transition: 1.5s;
    transform-origin: 0% 50%;
    transition-timing-function: ease;
    margin: 0em 0em;
    overflow: hidden;
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.13);
    padding: 1.5em;
}
.paper.is-flipped {
    transform: rotateY(180deg);
    background-color: rgb(240, 240, 240);   
}
.paperEnd {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(245, 245, 245); */
    /* background: rgb(226, 248, 255); */
    width: 85%;
    height: 85vh;
    max-height: 1500px;
    max-width: 900px;
    top: 4%;
    z-index: 0;
    margin: 1.5em;
    
}
.card {
    width: 95%;
    height: 95%;
    max-width: 900px;   
    max-height: 80vh;
    border-radius: 0.5em;
    /* box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65); */
    margin: 3em 1em 3em 1em;
    /* border: 5px solid white; */
    overflow: hidden;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: 100%; 
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}
.portrait {
    /* height: auto;
    width: auto; */
}


textarea {
    background: transparent;
    cursor: default;
}

/* .fogOfWar {
    background: white;
    width: 900px;
    height: 100vh; 
    position: relative;
    top: 0;
    left: max(-105vw,-930px);
    z-index: 6;
    margin: 0em 2em;
} */

.spacer {
    height: 90px;
    width: 90%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
.message {
    width: 80%;
    max-width: 900px;
    margin: 1em 1em 1em 1em;
    min-height: 100px;
    font-family: 'Caveat', cursive;
    font-size: 2.8em;
    border: 0px;
}
.message:focus {
    outline: none;
}
#message {
    height: 600px;
}
.indent {
    max-width: 650px;
    width: 80%;
}


/* .landscape {
    height: 30vw;
    width: auto;
}

.square {
    height: 80vw;
    width: 80vw;
} */
#savebar {
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 0.25em;
    display: none;
    font-size: 2em;
    height: 6em;
    z-index: 99;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65);
}

#savebar button {
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1em; 
    padding: 0.5em;
    
}
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
#editprompt {
    border-radius: 7px;
    background: white;
    border: 2px solid rgb(71, 132, 231);
    color: rgb(45, 94, 173);
    font-size: 2em; 
    padding: 0.5em;
}
#editprompt:hover {
    background:rgba(71, 132, 231, 0.1);
    transition: 0.1s;
}


.custom-file-upload {
    position: absolute;
    bottom: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    display: none;
    font-size: 2em;
    color: #333;
}

input[type="file"] {
    display: none;
}