body {
    font-family: 'Roboto', sans-serif;
    background:rgb(40, 62, 82);
    overflow: hidden;
    /* background-image: url(../img/retina_wood.png); */
    background-repeat: repeat;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container {
    width: 100%;
    overflow: hidden;   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: pushup 2s;
    animation-fill-mode: forwards; 
    -webkit-transform:translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/* @keyframes pushup {
    0% {opacity:0;}
    100% {opacity:1;}
} */
@keyframes pushup {
    0% {position:absolute; bottom: -100vh;}
    100% {position:fixed; bottom: 2vh;}
}
.paper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(205, 205, 205);
    border-radius: 0px 1vh 1vh  0px;
    /* border: 1px solid red; */
    background: white;
    width: 70vh;
    height: 90vh;
    /* max-height: 1500px; */
    max-width: 90vw;
    max-height: 130vw; 
    top: 4%;
    transition: 1.5s;
    transform-origin: 0% 50%;
    transition-timing-function: ease;
    margin-top: 2vh;
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.17);
    /* padding: 1.5em; */
    transform: perspective(3000px) rotateY(0deg);
    transform-style: preserve-3d;
    cursor: pointer;
    
}
/* .paper:not(.is-flipped) {
    -webkit-transform: perspective(3000) rotateY(-00deg);
    -moz-transform: perspective(3000) rotateY(-00deg);
    transform: perspective(3000) rotateY(-00deg);
}  */
.paper > * {
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.paper.is-flipped {
    -webkit-transform: perspective(3000) rotateY(-170deg);
    -moz-transform: perspective(3000) rotateY(-170deg);
    transform: perspective(3000) rotateY(-170deg);
    background-color: rgb(235, 235, 235);   
}
.paper.is-half-flipped {
    transform: rotateY(90deg);
    background-color: rgb(247, 247, 247);   
}
.paperEnd {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(245, 245, 245); */
    /* background: rgb(226, 248, 255); */
    width: 85%;
    height: 85vh;
    max-height: 1500px;
    max-width: 900px;
    top: 4%;
    z-index: 0;
    margin: 1.5em;
    
}
.card {
    width: 85%;
    height: 90%;
    max-width: 900px;   
    max-height: 80vh;
    /* border-radius: 1vh; */
    /* box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65); */
    margin: 3em 1em 3em 1em;
    /* border: 5px solid white; */
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: 100%; 
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 1vh;
    transform-style: preserve-3d;
}



textarea {
    background: transparent;
    cursor: default;
}

/* .fogOfWar {
    background: white;
    width: 900px;
    height: 100vh; 
    position: relative;
    top: 0;
    left: max(-105vw,-930px);
    z-index: 6;
    margin: 0em 2em;
} */

.spacer {
    height: 90px;
    width: 90%;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
#message {
    width: 80%;
    max-width: 900px;
    margin: 1em 1em 1em 1em;
    min-height: 100px;
    font-family: 'Caveat', cursive;
    font-size: calc(1.2rem + 2vh);
    border: 0px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: 1.5s;
    
}

#message > div {
    margin-bottom: 1em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.reveal {
    animation-duration: 5s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform-style: preserve-3d;
}
@keyframes reveal {
    0% {opacity:0;}
    100% {opacity:1;}
}
.message:focus {
    outline: none;
}
.indent {
    max-width: 650px;
    width: 80%;
}


/* .landscape {
    height: 30vw;
    width: auto;
}

.square {
    height: 80vw;
    width: 80vw;
} */
#savebar {
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 0.25em;
    display: none;
    font-size: 2em;
    height: 3.5em;
    z-index: 99;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.65);
}

#savebar button {
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1em; 
    padding: 0.5em;
    
}
button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
#editprompt {
    border-radius: 7px;
    background: white;
    border: 2px solid rgb(71, 132, 231);
    color: rgb(45, 94, 173);
    font-size: 2vh; 
    padding: 0.5em;
    transition: 0.2s;
}
#editprompt:hover {
    background:rgba(255,255,255, 0.9);
    transform: scale(1.03);
    
}


.custom-file-upload {
    position: absolute;
    bottom: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    display: none;
    font-size: 2em;
    color: #333;
}

input[type="file"] {
    display: none;
}